.profile {
  width: 100%;
  display: flex;
  border-radius: 10px;
  background: #fff;
  padding: 20px;
  height: auto;
  > div {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media screen and (width< 600px) {
      width: 100%;
    }
  }
  // .col-2 {

  // }
  .col-1 {
    .form {
      width: 100%;
      > div {
        padding: 17px 0 !important;
      }
      .form-input-image {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        label {
          &:first-child {
            color: var(--gray-gray-700, #2d3748);
            font-size: 12px;
            font-weight: 700;
          }
        }
        .imagesvg {
          width: 140px;
          height: 140px;
          flex-shrink: 0;
          border-radius: 50%;
          border: 1px solid #ee4335;
          background-color: #f7f7f7;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 140px;
            height: 140px;
            flex-shrink: 0;
            border-radius: 50%;
            object-fit: cover;
          }
        }
      }
      > button {
        width: 178px;
        height: 46px;
        flex-shrink: 0;
        border-radius: 11px;
        background: linear-gradient(90deg, #ee4335 0%, #f9aa41 100%);
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        @media screen and (width< 600px) {
          width: 100%;
          font-size: 15px;
          height: 30px;
        }
      }
    }
  }
}
