.keyfeature {
  background: #000;
  width: 100%;
  padding: 80px;
  // margin-bottom: 40px;
  @media screen and (width< 600px) {
    padding: 10px;
  }
  h2 {
    color: var(--white-900, #fff);
    font-family: Hero New;
    font-size: 48px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: 60px; /* 125% */
    letter-spacing: -0.96px;
    margin: 30px 0;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    @media screen and (width< 600px) {
      display: flex;
      flex-direction: column;
    }
    .keycard {
      width: 545px;
      height: 310px;
      flex-shrink: 0;
      border-radius: 21px;
      border: 1px solid #03305e;
      background: #fff;
      padding: 30px;
      cursor: pointer;
      @media screen and (width< 600px) {
        width: 100%;
      height: 310px;
      }
      &:hover {
        border-radius: 21px;
        border: 0.3px solid #fff;
        background: #071c33;
        box-shadow: 0px 22px 52px -25px #3b82f6;
      }
      .title {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        align-items: center;
        color: var(--white-900, #000);
        font-family: Hero New;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px; /* 150% */
        .number {
          width: 48px;
          height: 48px;
          flex-shrink: 0;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background:#BFFC00
        }
      }
      p {
        color: #b1b9c6;
        font-family: Hero New;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        margin: 10px 0;
      }
    }
  }
}
