.fillup {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
  form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    >button{
      border-radius: 11px;
      background: linear-gradient(90deg, #ee4335 0%, #f9aa41 100%);
      width: 100%;
      height: 60px;
      flex-shrink: 0;
      color: #fff;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      @media screen and (width< 600px) {
        gap: 10px;
        font-size: 12px;
        height: 40px;
      }
    }
  }
}
.fillupbyId{
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 10px;
  .title{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #072b4f;
    font-size: 24px;
    font-weight: 400;
  }
  .container{
    width: 100%;
    .fillup-item{
      width: 100%;
      display: flex;
      padding: 10px 0;
      label{
        width: 200px;
      }
      p{
        width: calc(100% - 200px);
      }
    }
    button{
      border-radius: 11px;
      background: linear-gradient(90deg, #ee4335 0%, #f9aa41 100%);
      width: 100%;
      height: 60px;
      flex-shrink: 0;
      color: #fff;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
}