.your-pack {
    width: 359px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 2px solid var(--Primary, #ee4335);
    background: linear-gradient(
      196deg,
      rgba(252, 226, 207, 0.63) 1.64%,
      rgba(255, 255, 255, 0.63) 98.57%
    );
    box-shadow: 0px 1px 2px 0px rgba(85, 105, 135, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0 50px 0;
    .header {
      text-align: center;
      padding: 20px 0;
      span {
        padding: 10px 0;
        color: var(--gray-900, #2a3342);
        font-size: 36px;
        font-weight: 600;
      }
      p {
        color: var(--gray-400, #8896ab);
        text-align: center;
        font-size: 16px;
      }
    }
    .upgradeplan {
      width: 295px;
      height: 56px;
      flex-shrink: 0;
      border-radius: 6px;
      background: linear-gradient(90deg, #ee4335 0%, #f9aa41 100%);
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    ul {
      width: 100%;
      padding: 20px 0;
      li {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px 10px;
        color: var(--gray-500, #556987);
        font-size: 16px;
        font-weight: 500;
      }
    }
    .timer {
      text-align: center;
      .time {
        background: var(
          --Primary,
          linear-gradient(90deg, #ee4335 0%, #f9aa41 100%)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 20px;
        font-weight: 500;
      }
      .timeleft {
        width: 237px;
        height: 67px;
        flex-shrink: 0;
        border-radius: 60px;
        border: 1px solid var(--Primary, #ee4335);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }